<nav class="navbar">
  <ul class="nav-links">

    <li><a href="">Home</a></li>
    
    <li class="dropdown">
      <span class="dropbtn">Clothes</span>
      <div class="dropdown-content">
        <a href="">Hoodies & Sweaters</a>
        <a href="">Pants</a>
        <a href="">T-shirts</a>
        <a href="">Underwear</a>
        <a href="">Accessories</a>
      </div>
    </li>

    <li class="dropdown">
      <span class="dropbtn">Shoes</span>
      <div class="dropdown-content">
        <a href="">Sneakers</a>
        <a href="">Boots</a>
        <a href="">Slippers</a>
        <a href="">Shoe Care</a>
      </div>
    </li>

    <li class="dropdown">
      <span class="dropbtn">Skate</span>
      <div class="dropdown-content">
        <a href="">Decks</a>
        <a href="">Wheels</a>
        <a href="">Trucks</a>
        <a href="">Complete Boards</a>
      </div>
    </li>

    <li><a href="contact.html">Contact</a></li>

  </ul>
</nav>