body {
    padding:0;
    margin:0;
}

nav { 
    background-color: gray;
    
}

nav ul {
    margin:0;
    padding:0;
    
    
}

ul a {
    padding:1%;
    text-decoration: none;
    
}

h1 {
    font-family: 'Orbitron' ;
}

