body {
    padding:0;
    margin:0;
}

.navbar {
  background-color: #333;
  font-family: 'orbitron';
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li a,
.nav-links li span {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


